
.DS_Store
*.fits
.ipynb_checkpoints

/bubble/figures/hcno_chans
/bubble/figures/sio_chans_wholecmz_rgb
/bubble/figures/hnco_chans_large_mopra
/bubble/figures/hcno_chans_wholecmz_rgb
/bubble/figures/hcno_chans_rgb
/bubble/figures/hcno_chans_large
/bubble/figures/h13cop_chans_wholecmz_rgb
